<footer class="site-footer h-card" style="padding-bottom: 0px;">

  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3" style="margin-bottom: 0px;">
        <ul>
          <li>{{- site.description | escape -}}</li>
          <li><a href="https://feedburner.google.com/fb/a/mailverify?uri=KvakysBlog&amp;loc=en_US">Subscribe to kvaky’s blog by Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
