<footer class="site-footer h-card" style="padding-bottom: 0px;">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
	  
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <ul style="list-style:none; margin: 0px;">
          <li>keep up with my blog</li>
          <li>
            <div id="mc_embed_signup">
              <form action="https://kvaky.us18.list-manage.com/subscribe/post?u=08b15f73aafbb212682b78e84&amp;id=e67421e6bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_08b15f73aafbb212682b78e84_e67421e6bc" tabindex="-1" value=""></div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
            </div>
          </li>
        </ul>
      </div>
	
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
    </div>
  </div>

</footer>
